html, body {
    padding: 0px;
    margin: 0px;
    font-size: $text-size-base;
}

body {
    font-family: $pt-serif;
    /* font-family: "Amiri"; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $old-standard;
}

hr {
    border-bottom: 1px solid #000000;
}
