<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>FOO</title>
        <link rel="stylesheet" href = "output/stylesheets/all.css" ></link>
        <link rel="stylesheet" href = "output/stylesheets/stylesheet.css" ></link>
        <link rel="stylesheet" href = "output/stylesheets/weather-icons.css" ></link>
    </head>
    <body>
        <main>
            <div class="cd-card">
                <h1>Today's Weather</h1>
                {{if .Forecast.Alerts}}
                <p>
                <span class="cd-highlight">Weather Alerts</span>
                </p>
                <ul>
{{range .Forecast.Alerts}}
                <li>{{.Title}}</li>
{{end}}
                </ul>
                {{end}}
                <h2>Today</h2>
                <p>
                {{with $today := index .Forecast.Daily.Data 0}}
                Today, you can expect that it will be {{.Summary}}
                You can expect to see a
                <span class="cd-highlight">High of {{tempToString .TemperatureMax}}
                around {{dateToString .TemperatureMaxTime}}</span>
                and a
                <span class="cd-highlight">Low of {{tempToString .TemperatureMin}}
                around {{dateToString .TemperatureMinTime}}.</span>
                {{end}}
                </p>

                <h2>Next 24 Hours</h2>
                <p><span class="cd-highlight">{{.Forecast.Hourly.Summary}}</span></p>
                <table>
{{range $forecast := importantWeather .Forecast.Hourly.Data}}
                <tr>
                    <td>{{dateToString .Time}}</td>
                    <td><i class="wi {{iconToFont .Icon}}"></i></td>
                    <td>{{.Temperature}}</i>°</td>
                    <td>{{.Summary}}</td>
                </tr>
{{end}}
                </table>
            </div>
            <div class="cd-card">
                <h1>Today, in News</h1>
                <p>
                <ul>
{{range $story := topStories $.News}}
                    <li>{{$story.DekOrTitle}}</li>
{{end}}
                </ul>
                </p>
            </div>
        </main>
    </body>
</html>
