html {
    width: 576px;
}

.weather-temps {
    font-size:   1.5em;
}

.wi {
    font-size:   2.5em;
}

.cd-weather {
    text-align: center;
}

.high-temp {
    font-weight: bold;
    font-size:   1.2em;
}
