html {
    width: 576px;
}

.weather-temps {
    font-size:   1.1em;
}

.wi {
    font-size:   2.5em;
}

.cd-date {
    width: 191px;
}

.cd-weather {
    width: 383px;
    height: 191px;
    padding-left: 20px;
    padding-top: 19px;
}

.high-temp {
    font-weight: bold;
    font-size:   1.2em;
}
