{{define "sense"}}
{{ if .Timeline.Events }}
            <div class="cd-card">
                <h1>Sleep</h1>
                <b>{{.Timeline.ScoreCondition}}</b>
                <p>
                {{.Timeline.Message}}
                </p>
                <table>
                {{ range .ImportantEvents }}
                <tr>
                    <td>{{humanDate .Timestamp.Time}}</td>
                    <td>{{.Message}}</td>
                </tr>
                {{ end }}
                </table>
            </div>
{{end}}
{{end}}
