{{define "today"}}
            <div class="cd-card">
                <div class="cd-half cd-date">
                    <time class="icon">
                      <em>{{.When.Weekday}}</em>
                      <strong>{{.When.Month}}</strong>
                      <span>{{.When.Day}}</span>
                    </time>
                </div>
                <div class="cd-half">
                    <div class="cd-weather">
                        <div class="weather-temps">
                        <i class="wi wi-day-snow"></i>
                            <span class="high-temp">31°</span> / 28°
                        </div>
                        <p>
                        Snow (9–14 in.) and windy starting in the afternoon.
                        </p>
                    </div>
                </div>
                <div class="cd-clear"></div>
            </div>
{{end}}
