{{define "today"}}
            <div class="cd-card">
{{ with .today }}
                <div class="cd-half cd-date">
                    <time class="icon">
                      <em>{{.When.Weekday}}</em>
                      <strong>{{.When.Month}}</strong>
                      <span>{{.When.Day}}</span>
                    </time>
                </div>
{{end}}
{{ with .weather }}
                <div class="cd-half">
                    <div class="cd-weather">
                        <div class="weather-temps">
                        <i class="wi {{.Icon}}"></i>
                            <span class="high-temp">{{.High}}°</span> / {{.Low}}°
                        </div>
                        <p>
                        {{.Forecast.Hourly.Summary}}
                        </p>
                    </div>
                </div>
{{end}}
                <div class="cd-clear"></div>
                <div class="cd-whole">
{{ range .Forecast.Alerts }}
    <span class="cd-highlight">{{.Title}}</span><br />
{{ end }}
                </div>
{{ if .Forecast.Alerts }}
{{end}}
                <div class="cd-clear"></div>
            </div>
{{end}}
