{{define "weather"}}
            <div class="cd-card">
                <h1>Today's Weather</h1>
                {{if .Forecast.Alerts}}
                <p>
                <span class="cd-highlight">Weather Alerts</span>
                </p>
                <ul>
{{range .Forecast.Alerts}}
                <li>{{.Title}}</li>
{{end}}
                </ul>
                {{end}}
                <h2>Today</h2>

{{template "barchart" .DailyBarchart}}

                <p><b>{{.Forecast.Hourly.Summary}}</b></p>
                <table>
                </table>
            </div>
{{end}}
