{{define "barchart"}}
<svg width="{{.Width}}" height="{{.Height}}" role="img">
{{range .Bars}}
  <g class="bar">
    <text y="{{.Label.Y}}" x="{{.Label.X}}" font-size=".5em" transform="rotate(-45 {{.Label.X}},{{.Label.Y}})">{{.Label.Text}}</text>
    <rect width="{{.Width}}" height="{{.Height}}" y="{{.Y}}" x="{{.X}}"></rect>
  </g>
{{end}}
</svg>
{{end}}

{{define "weather"}}
            <div class="cd-card">
                <h1>Today's Weather</h1>
                {{if .Forecast.Alerts}}
                <p>
                <span class="cd-highlight">Weather Alerts</span>
                </p>
                <ul>
{{range .Forecast.Alerts}}
                <li>{{.Title}}</li>
{{end}}
                </ul>
                {{end}}
                <h2>Today</h2>

{{template "barchart" .DailyBarchart}}

                <p><b>{{.Forecast.Hourly.Summary}}</b></p>
                <table>
                </table>
            </div>
{{end}}
