<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Good Morning!</title>
        <link rel="stylesheet" href = "output/stylesheets/all.css" ></link>
        <link rel="stylesheet" href = "output/stylesheets/stylesheet.css" ></link>
        <link rel="stylesheet" href = "output/stylesheets/weather-icons.css" ></link>
    </head>
    <body>
        <main>
        {{template "weather" index . "weather"}}
        {{template "remind" index . "remind"}}
        {{template "politico" index . "politico"}}
        {{template "wmata" index . "wmata"}}
        {{template "sense" index . "sense"}}
        </main>
    </body>
</html>
