{{define "barchart-label"}}
    <text y="{{.Y}}" x="{{.X}}" font-size=".5em" transform="rotate({{.Rotate}} {{.X}},{{.Y}})">{{.Text}}</text>
{{end}}
{{define "barchart"}}
<svg width="{{.Width}}" height="{{.Height}}" role="img">
{{range .Bars}}
  <g class="bar">
{{if .Label.Text}}
    {{template "barchart-label" .Label}}
{{end}}
    <rect width="{{.Width}}" height="{{.Height}}" y="{{.Y}}" x="{{.X}}"></rect>
{{if .YLabel.Text}}
    {{template "barchart-label" .YLabel}}
{{end}}
  </g>
{{end}}
</svg>
{{end}}
